# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
# Disable automatic formatting
format_on_save = false
trim_trailing_whitespace = false
insert_final_newline = false

# Vue files
[*.vue]
format_on_save = false
trim_trailing_whitespace = false

# TypeScript files  
[*.ts]
format_on_save = false
trim_trailing_whitespace = false

# JavaScript files
[*.js]
format_on_save = false
trim_trailing_whitespace = false

# JSON files
[*.json]
format_on_save = false
trim_trailing_whitespace = false

# CSS files
[*.css]
format_on_save = false
trim_trailing_whitespace = false
